@charset "UTF-8";

{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    background: white url(imagens/backspace.jpg) center center no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}   

section{
    text-align: right;
    box-sizing: border-box;
}

section img{
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    margin: 15px;
    
}

section img:hover{
    transform: translate(-10px, -10px);
    transition: transform .4s, border 1s;
    box-shadow: 4px 4px 10px black;
    border: 2px solid white;

}

iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
}