@charset "UTF-8";

@font-face {
    font-family: 'Vogue', 'serif';
    src: url(fontes/Vogue.ttf) format('truetype');
}

:root{
    --fonte-padrao:'Vogue', serif;
    --cor0: rgb(27, 92, 255);
    --cor1: rgb(67, 53, 123);
    --cor2: rgb(27, 22, 49);
}

*{
    font-family: var(--fonte-padrao); 
    margin:0   
}

.top{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    font-weight: lighter;
    font-size: 0.7em;
    text-align: right;
}

header{
    background-color: rgb(255, 255, 255);
    color: black;
    height: 55px;
    padding: 5px;

}

header img{
    height: 75%;
    padding: 6px 10px 6px 20px;
}

.lupa{
    margin-left: 828px;
    height: 50%; 
    
    
}

nav{
    margin: -40px 0px 0px 50px;    
    height: 55px;
    margin-top: -47px;
    margin-right: -10px;
}

nav a#jogos{
    color: black;
    text-decoration: none;
    padding:5px;
    margin-left:30px;
    font-weight: bold;
    font-size: 0.8em;
}

nav a{
    color: black;
    text-decoration: none;
    padding:5px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 0.8em;
}

nav a.menu:after{
    content: '\26DB';    
}

nav p{
    display: inline-block;
    margin-left: 333px;
    color: white;
    background-color: var(--cor0);
    padding: 7px;
    border-radius: 17px;
}

main img{
    width: 100%;
}

.conteudo-imagem-apresentada{
    
    color: rgb(253, 253, 253);
    max-width: 500px;
    margin: auto;
    margin-top: -265px;
    margin-bottom: 265px;
}

.conteudo-imagem-apresentada h1 {
    text-align: center;
    padding: 15px;
    font-size:1.6em;
}

.conteudo-imagem-apresentada h2{
    text-align: center;
    padding-bottom: 15px;
    font-size:1.3em
}

.conteudo-imagem-apresentada p{
    font-weight: bold;
    font-size: 1.1em;
    text-align: justify;
}

